.page{
    min-height: 100vh;
}

.contenido{
    width: 100%;
    min-height: 100vh;
    background: #FCFEFF;
    display: flex;
    justify-content: center;
}

.section-profesores{
    width: 90%;
    background: white;
}
.h1-profesores{
    margin-top: 110px;
}
.img-perfil{
    width: 200px;
    height: 100%;
    object-fit: cover;
}
.contenedor-info{
    height: 100%;
    width: 250px;
}
.card-profesor{
    height: 300px;
    width: 400px;
}
.h1-profesores{
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.cont-profesores{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.carta-profesor{
    width: 400px;
}

.p-profesores{
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.cont-img-prof {
    height: 275px;
}